# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

SECRET_KEY_BASE=b6cc54bdc61661db89b2c40b9b2da6c087bc1d932659e068c9aca246f1feab0267c46bb6309c4819a2c7a54365589d9bdb5538e3cb55de422486a768b87994ad
REDIS_URL=redis://localhost:6379/13
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
