<p>Hola <%= @resource.email %>!</p>

<!-- <p>Someone has requested a link to change your password. You can do this through the link below.</p> -->
<p>Alguien ha solicitado un enlace para cambiar tu password. Podés hacerlo mediante el siguiente enlace.</p>

<p><%= link_to 'Cambiar mi password', edit_password_url(@resource, reset_password_token: @token) %></p>

<!-- <p>If you didn't request this, please ignore this email.</p> -->
<p>Sino fuiste vos quien solicitó esto, por favor ignorá este email.</p>
<!-- <p>Your password won't change until you access the link above and create a new one.</p> -->
<p>Tu password no cambiará hasta que accedás al enlace de más arriba.</p>
