<p>Hola <%= @resource.email %>!</p>

<!-- <p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p> -->
<p>Tu cuenta fue bloqueada por un número excesivo de intentos de ingreso.</p>

<!-- <p>Click the link below to unlock your account:</p> -->
<p>Hacé clic en el siguiente link para desbloquear tu cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
